body{
font-family:Arial;
background:#121212;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.container{
background:#1e1e1e;
padding:30px;
border-radius:10px;
width:350px;
}

input,select,button{
width:100%;
margin-top:8px;
padding:8px;
border-radius:6px;
border:none;
}

button{
background:#4CAF50;
color:white;
cursor:pointer;
}

.hidden{
display:none;
}

progress{
width:100%;
}
